ion-text {
    text-align: center;
}

h1 {
    font-weight: bold;
}

#student-icon {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

#student-icon img {
    width: 50%;
}

ion-input {
    text-align: center;
}

.confirm-btn {
    text-align: center;
    margin-top: 2em
}