.center {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

canvas {
    width: 200px;
    height: 200px;
}

#successText {
    text-align: center;
}

#successText h2 h3 {
    margin-top: 40px;
}

#successImg {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#successImg img {
    width: 50%;
}