<ion-card  [ngStyle]="{'background':color1}" id = "repas-{{getRepas().id}}">
  <img src="../../assets/sandwich.jpg" />


  <ion-card-content>
    <ion-item>
      <ion-label>Choix d'Entree</ion-label>
      <ion-select [(ngModel)]="selectedEntree" (ionChange)="setEntree()" placeholder="Selectionner..." [compareWith]="compareWith" okText="OK" cancelText="Annuler">
        <ion-select-option *ngFor = "let entree of getEntrees()" [value] = "entree">{{entree.nom}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Choix de Sandwich</ion-label>
      <ion-select [(ngModel)]="selectedSandwich" (ionChange)="setSandwich()" placeholder="Selectionner..." [compareWith]="compareWith" okText="OK" cancelText="Annuler">
        <ion-select-option *ngFor = "let sandwich of getSandwichs()" [value] = "sandwich">{{sandwich.nom}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Choix de Dessert</ion-label>
      <ion-select [(ngModel)]="selectedDessert" (ionChange)="setDessert()" placeholder="Selectionner..." [compareWith]="compareWith" okText="OK" cancelText="Annuler">
        <ion-select-option *ngFor = "let dessert of getDesserts()" [value] = "dessert">{{dessert.nom}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Choix de Boisson</ion-label>
      <ion-select [(ngModel)]="selectedBoisson" (ionChange)="setBoisson()" placeholder="Selectionner..." [compareWith]="compareWith" okText="OK" cancelText="Annuler">
        <ion-select-option *ngFor = "let boisson of getBoissons()" [value] = "boisson">{{boisson.nom}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>


<div id = "orderBtn">
  <ion-button color="success" (click) = "order()">Commander maintenant</ion-button>
</div>