<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choix du profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choix du profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    Selectionnez un profil
    <div class = "profiles">
      <ion-button [routerLink] = "'/client'">Client</ion-button>
      <ion-button [routerLink] = "'/cashier'">Caissier</ion-button>
      <ion-button [routerLink] = "'/preparator'">Préparateur</ion-button>
    </div>

  </div>
</ion-content>
